@font-face {
  font-family: 'brunete';
  src: url('../fonts/Brunete-Regular.woff2') format('woff2'), url('../fonts/Brunete-Regular.woff') format('woff'), url('../fonts/Brunete-Regular.eot') format('eot');
  font-weight: 500;
  font-style: normal;
}
